:root {
  --black: #000000;
  --black-light: #1A1A1A;
  --black-dark: #0D0D0D;
}
main {
  max-width: 1500px;
  border: 2px solid black;
  margin: auto;
}
p {
  margin: 0px;
}
ul {
  list-style-type: none;
}
li a {
  color: black;
  text-decoration: none;
}
